global:
  scrape_interval: 30s
  scrape_timeout: 10s

rule_files:
  - alert.yml

scrape_configs:
  - job_name: local_prometheus
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'localhost:9090'
  - job_name: pocket
    metrics_path: /metrics
    static_configs:
      - targets:
          - '10.10.60.100:8083'                         # prometheus port controlled in pocket config.json
          #- '10.10.60.100:{{custom_port_prefix}}660'   # prometheus port for tendermint in pocket config.json
  - job_name: tendermint
    metrics_path: /metrics
    static_configs:
      - targets:
          - '10.10.60.100:{{custom_port_prefix}}660'   # prometheus port for tendermint in pocket config.json
  - job_name: node  # node_exporter
    metrics_path: /metrics
    static_configs:
      - targets:
          - '10.10.60.100:9100'  # pokt node
          - '10.10.50.70:9100'   # evmos relayer 0
          - '10.10.50.71:9100'   # evmos relayer 1

remote_write: 
- url: {{ grafana_cloud_prometheus_url }}
  basic_auth: 
    username: {{ grafana_cloud_prometheus_username }}
    password: {{ grafana_cloud_prometheus_password }}
  name: drop_expensive
  #write_relabel_configs:
  #  - source_labels: [__name__]
  #    regex: expensive.*
  #    action: drop