global:
  scrape_interval: 30s
  scrape_timeout: 10s

rule_files:
  - alert.yml

scrape_configs:
  - job_name: services
    metrics_path: /metrics
    static_configs:
      - targets:
          - 'localhost:9090'
  - job_name: pocket
    metrics_path: /metrics
    static_configs:
      - targets:
          - '10.10.60.100:8083'   # prometheus port controlled in pocket config.json, doesn't seem to report anything useful
          - '10.10.60.100:{{custom_port_prefix}}660'   # prometheus port for tendermint in pocket config.json