#!/bin/bash
set -ex

POCKET_DATA_DIR={{ pokt_user_dir }}/.pocket
echo "Removing old data from $POCKET_DATA_DIR"
rm -rf $POCKET_DATA_DIR/data/*
echo "Getting filename of latest snapshot from https://pocket-snapshot.liquify.com/files/latest_compressed.txt"
latestFile=$(curl -s 'https://pocket-snapshot.liquify.com/files/latest_compressed.txt')
# above likely subjects us to a cmd injection attack :(
echo "Downloading and extracting snapshot data"
wget -O - "https://pocket-snapshot.liquify.com/files/$latestFile" | lz4 -d - | tar -xv -C $POCKET_DATA_DIR
echo "Setting perms on downloaded chain data"
chown -R {{ pokt_user }}:{{ pokt_user }} $POCKET_DATA_DIR
echo "Done. Don't forget to start the daemon!"
