[Unit]
Description=Pocket service
After=network.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
User={{ pokt_user }}
Group={{ pokt_user }}
#WorkingDirectory={{ user_dir }}
ExecStart={{ user_dir }}/go/bin/pocket start
ExecStop={{ user_dir }}/go/bin/pocket stop


[Install]
WantedBy=default.target
