admin_users: "{{ vault_admin_users }}"
grafana_cloud_prometheus_url: "{{ vault_grafana_cloud_prometheus_url }}"
grafana_cloud_prometheus_username: "{{ vault_grafana_cloud_prometheus_username }}"
grafana_cloud_prometheus_password: "{{ vault_grafana_cloud_prometheus_password }}"
grafana_cloud_promtail_username: "{{ vault_grafana_cloud_promtail_username }}"
grafana_cloud_promtail_apikey: "{{ vault_grafana_cloud_promtail_apikey }}"
grafana_cloud_promtail_url: "https://{{ grafana_cloud_promtail_username }}:{{ grafana_cloud_promtail_apikey }}@logs-prod3.grafana.net/loki/api/v1/push"

users:
  - username: 'pokt'
moniker: "SDL-POKT-1"
seeds: "03b74fa3c68356bb40d58ecc10129479b159a145@seed1.mainnet.pokt.network:20656,64c91701ea98440bc3674fdb9a99311461cdfd6f@seed2.mainnet.pokt.network:21656,0057ee693f3ce332c4ffcb499ede024c586ae37b@seed3.mainnet.pokt.network:22856,9fd99b89947c6af57cd0269ad01ecb99960177cd@seed4.mainnet.pokt.network:23856,f2a4d0ec9d50ea61db18452d191687c899c3ca42@seed5.mainnet.pokt.network:24856,f2a9705924e8d0e11fed60484da2c3d22f7daba8@seed6.mainnet.pokt.network:25856,582177fd65dd03806eeaa2e21c9049e653672c7e@seed7.mainnet.pokt.network:26856,2ea0b13ab823986cfb44292add51ce8677b899ad@seed8.mainnet.pokt.network:27856,a5f4a4cd88db9fd5def1574a0bffef3c6f354a76@seed9.mainnet.pokt.network:28856,d4039bd71d48def9f9f61f670c098b8956e52a08@seed10.mainnet.pokt.network:29856,5c133f07ed296bb9e21e3e42d5f26e0f7d2b2832@poktseed100.chainflow.io:26656,361b1936d3fbe516628ebd6a503920fc4fc0f6a7@seed.pokt.rivet.cloud:26656"
persistent_peers: ""
MaxNumInboundPeers: 30
MaxNumOutboundPeers: 10
UnconditionalPeerIDs: ""
PexReactor: "true"  # yes it's weird to quote a bool but it's necessary for this to parse properly  
LogLevel: "*:error"
go_version: '1.19'
pokt_user: 'pokt'
pokt_user_dir: "/home/{{ pokt_user }}"
monitor_user: 'monitor'
monitor_user_dir: "/home/{{ monitor_user }}"
custom_port_prefix: 55
repo: 'https://github.com/pokt-network/pocket-core'
pokt_release_tag: 'BETA-0.9.1.1'
path: '/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin:/usr/local/go/bin:{{ pokt_user_dir }}/go/bin'

account_address: "{{ vault_account_address }}"
raw_private_key: "{{ vault_raw_private_key }}" 
account_passphrase: "{{ vault_account_passphrase }}"
# note that the key in the vault is NOT the mainnet signer, in the interest of preventing double signing problems
# run ~/pokt/install_validator_key.sh as pokt user to install the mainnet validator signer key

genesis_url: 'https://raw.githubusercontent.com/pokt-network/pocket-network-genesis/master/mainnet/genesis.json'
genesis_hash: 'sha256:83e411fe6298d83963f2ebf5af3ef65b49dd029a6eb1a04db31a08b244f3d414'
snapshot_url: 'https://snapshot.nodes.pokt.network/latest.tar.gz'
expose_public_ip: true

ethereum_rpc_uri: "{{ vault_ethereum_rpc_uri }}"
