#!/bin/bash
#set -ex

# Get the current public IP
ip=$(curl -s {{ ip_checker_url }})

# Check if the IP address is valid IPv4
if [[ $ip =~ ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
    echo "Detected ExternalAddress: : $ip"

    # Get the current ExternalAddress from the config.json file
    config_file="{{ pokt_user_dir }}/.pocket/config/config.json"
    current_ip=$(jq -r '.tendermint_config.P2P.ExternalAddress' "$config_file")
    echo "Current ExternalAddress in config file: $current_ip"

    # Compare the current IP with the obtained IP
    if [[ $current_ip != $ip ]]; then
        # Modify the config.json file
        echo "New public IP detected, updating ExternalAddress in config file"
        #jq ".tendermint_config.P2P.ExternalAddress |= \"$ip\"" "$config_file" > "$config_file.tmp" && mv "$config_file.tmp" "$config_file"
        jq ".tendermint_config.P2P.ExternalAddress |= \"tcp://$ip:{{ custom_port_prefix }}656\"" "$config_file" > "$config_file.tmp" && mv "$config_file.tmp" "$config_file"
        echo "ExternalAddress updated successfully in $config_file"
        echo "Restarting pokt service to announce new public IP"
        sudo systemctl restart pocket
    else
        echo "ExternalAddress already matches system's public IP"
    fi
else
    echo "Invalid IP address $ip returned by checker, aborting"
fi
